@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button */
.btn-blue {
    @apply block w-fit ms-auto text-white bg-sky-600 hover:bg-sky-700 border border-sky-600 duration-200 rounded-md text-sm px-5 py-3 text-center;
}
.btn-green {
    @apply block w-fit ms-auto text-white bg-emerald-600 hover:bg-emerald-700 border border-emerald-600 duration-200 rounded-md text-sm px-5 py-3 text-center;
}
.btn-white {
    @apply block w-fit ms-auto text-gray-700 bg-white hover:bg-gray-100 duration-200 border border-gray-300 rounded-md text-sm px-5 py-3 text-center;
}

/* Input */
.form-input-lg {
    @apply border border-gray-300 text-gray-800 !ring-0 placeholder:text-gray-400 focus:border-sky-600 bg-slate-50 w-full p-4 text-sm rounded-lg;
}
.form-input {
    @apply border border-gray-300 text-gray-800 !ring-0 placeholder:text-gray-400 focus:border-sky-600 bg-slate-50 w-full p-3 text-sm rounded-md;
}

/* Scrollbar */
.custom-scrollbar {
    @apply relative;
}
.custom-scrollbar::-webkit-scrollbar {
    @apply w-0;
}
.custom-scrollbar:hover::-webkit-scrollbar {
    @apply w-2;
}
.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-lg;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-lg border-2 border-gray-200;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
}

/* Paginate */
#mytable_wrapper .dt-paging {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}
#mytable_wrapper .dt-paging-button {
    margin: 0;
    width: auto;
    min-width: 32px;
    text-align: center;
    font-weight: 300;
    border-radius: 50%;
    padding: 0.25rem;
    aspect-ratio: 1/1;
    font-size: 14px;
    outline: none;
}
#mytable_wrapper .dt-paging-button:hover {
    background: none;
    color: #4b5563 !important;
    border-color: #d1d5db;
}
#mytable_wrapper .dt-paging-button.current {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
    padding: 0;
    margin-left: 0;
    background-color: #3b82f6;
    color: white !important;
    border-color: #2563eb;
}

/* Child on responsive */
#mytable span.dtr-title {
    font-size: 14px !important;
    color: #374151 !important;
    font-weight: 600 !important;
}
#mytable .dtr-details li {
    padding: 1rem 0.75rem;
    display: flex;
    flex-direction: column;
}
